<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>LL Store</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Página Inicial</a></li>
            <li><a href="~/Produtos">Produtos</a></li>
            <li><a href="~/Home/Sobre">Sobre</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
